.main {
  min-height: 100vh;

  padding-bottom: 100px;
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    gap: 8px;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
}
