.project_card {
  background-color: white;
  width: 100%;
  height: fit-content;
  border-radius: 12px;
  border: 1px solid #e8e8e8;
  max-width: 600px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.project_image_cont {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
.project_image_cont img {
  object-fit: cover;
}
.project_text_cont {
  margin-top: 8px;
  .project_text_badge {
    background-color: aliceblue;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 8px;
    p {
      width: auto;
      font-size: 12px;
      color: white;
    }
  }
  .project_text_title {
    h4 {
      font-size: 20px;
      color: #363636;
    }
  }
  .project_text_desc {
    font-size: 14px;
    color: #6f6f6f;
  }
  .project_text_skills {
    ul li {
      display: inline-block;
      padding: 4px 8px;
      border: solid 1px rgb(52, 89, 105);
      font-size: 12px;
      color: #5f5f5f;
      margin-top: 8px;
      border-radius: 8px;
      margin-right: 4px;
    }
  }

  .design_color {
    background: linear-gradient(107.58deg, #fc466b 0%, #3f5efb 100%);
  }
  .case_color {
    background: linear-gradient(107.58deg, #00b4db 0%, #0083b0 100%);
  }
  .prj_color {
    background: linear-gradient(
      107.58deg,
      #159957 0%,
      rgba(21, 87, 153, 0.937255) 100%
    );
  }
}
.project_btn_cont {
  width: 100%;
  background-color: #f3f3f3;
  height: 40px;
  color: #363636;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 16px;
}
